{% load static %}

{% block content %}
<h2>Your Cart</h2>

{% if services %}
<table>
    <tr>
        <th>Service</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Actions</th>
    </tr>
    {% for service in services %}
    <tr>
        <td>{{ service.spa_service }}</td>
        <td>
            <form action="{% url 'update_cart' service.id %}" method="post">
                {% csrf_token %}
                <input type="number" name="quantity" value="{{ service.quantity }}" min="1">
                <button type="submit">Update</button>
            </form>
        </td>
        <td>${{ service.spa_service_total }}</td>
        <td>
            <a href="{% url 'remove_from_cart' service.id %}">Remove</a>
        </td>
    </tr>
    {% endfor %}
</table>
<p>Total Cost: SEK{{ total_cost }}</p>
<a href="{% url 'clear_cart' %}">Clear Cart</a>
<a href="{% url 'checkout' %}">Proceed to Checkout</a>
{% else %}
<p>Your cart is empty.</p>
{% endif %}
{% endblock %}