{% extends 'base.html' %}

{% block title %}Contact Form Submitted{% endblock %}

{% block content %}
<div class="container form-container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-6">
            <hr>
            <h1 class="text-center">We have received your message!</h1>
            <hr>
            <div class="contact-response text-center">
                <h2 class="h5">Thank you for getting in contact! We will get back to you shortly.</h2>
            </div>
        </div>
    </div>
    {% endblock %}