{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid" style="height: 100vh;">

  <div class="section bg-landing-section bg-colour_blue" id="home">
    <div class="container">
      <div class="row">
        <h1>The Spa</h1>
        <p>lorem Ipsum</p>
      </div>
    </div>
  </div>

  <div class="section bg-section-two bg-colour-grey" id="about">
    <div class="container">
      <div class="row">
        <h1>About</h1>
      </div>
    </div>
  </div>

  <div class="section bg-section-three bg-colour_blue" id="treatments">
    <div class="container">
      <div class="row">
        <h1>Treatments</h1>
      </div>
    </div>
  </div>

    <div class="section bg-section-four bg-colour-grey" id="book">
    <div class="container">
      <div class="row">
        <h1>Book</h1>
      </div>
    </div>
  </div>
     <div class="section bg-section-four bg-colour-grey" id="checkout">
    <div class="container">
      <div class="row">
        <h1>Chaeckout & Payment</h1>
      </div>
    </div>
  </div>



</div>
{% endblock %}