{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid d-flex flex-column container-home">
  <section class="section-home bg-landing-section bg-colour-blue" id="home">
    <h2 class="visually-hidden">Main Content</h2>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 d-flex justify-content-center">
          <button id="scrollToAboutBtn">Read more <i class="fa-solid fa-chevron-down"></i></button>
        </div>
      </div>
    </div>
  </section>

  <section class="section-home bg-section-two bg-colour-grey flex-grow-1" id="about">
    <div class="container px-4">
      <div class="row pt-5 justify-content-center mb-5">
        <div class="col-md-7">
          <h1><strong>The Spa Stockholm</strong></h1>
          <div class="about-text mt-3">
            <p>
              Welcome to <strong>The Spa Stockholm</strong>, an oasis of tranquillity nestled in the heart of
              Sweden's vibrant capital. At
              The Spa Stockholm, we offer a sanctuary where you can escape the hustle and bustle of everyday life and
              indulge
              in <strong>luxurious treatments designed to rejuvenate your body, mind, and spirit</strong>.
            </p>
            <p>
              Our state-of-the-art facility combines contemporary elegance with timeless Scandinavian design, creating
              a serene environment that <strong>promotes relaxation and well-being</strong>. From the moment you step
              through
              our doors, you will be enveloped
              in an atmosphere of calm and comfort, with every detail meticulously curated to enhance your <strong>spa
                experience</strong>.
            </p>
            <br>
            <p>Our extensive range of <strong>treatments includes signature massages, revitalising facials, and holistic
                body therapies</strong>, all
              performed by our highly skilled and experienced therapists. We use only the finest products, sourced
              from the world's leading skincare brands, to ensure that you receive the best possible care.
              Indulge in our <strong>exclusive spa packages</strong>, designed to provide a comprehensive
              <strong>wellness experience</strong> tailored to
              your individual needs. Whether you are seeking <strong>deep relaxation, skin rejuvenation, or a complete
                body overhaul</strong>,
              our bespoke treatments will leave you feeling renewed and revitalised.
            </p>
            <br>
            <p>In addition to our <strong>luxurious treatments</strong>, The Spa Stockholm offers a variety of amenities
              to enhance your visit. Relax in
              our <strong>sauna and steam rooms</strong>, take a dip in our <strong>heated pool</strong>, or enjoy a
              refreshing beverage in our tranquil
              lounge area. Our spa also features <strong>private treatment suites</strong> for those seeking an even
              more exclusive experience.
            </p>
            <p>
              At The Spa Stockholm, our mission is to provide <strong>a haven of peace and rejuvenation</strong> in the
              heart of the city. We
              are committed to delivering exceptional service and personalised care, ensuring that every visit is a
              memorable
              and transformative experience.
              Discover the ultimate in relaxation and <strong>wellness</strong> at <strong>The Spa Stockholm.</strong>
              We invite you to unwind, recharge, and experience the true essence of luxury.
            </p>
            <h2>Welcome!</h2>
            <br>
            <div><a href="about" class="button btn" aria-label="About the Spa">Read more about us</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section bg-section-three bg-colour-blue flex-grow-1" id="treatments">
    <div class="container services-container px-5 justify-content-center">
      <div class="text-center">
        <h2 class="section-heading pb-5 pt-5 mb-2"><strong>Spa Treatments & Therapies</strong></h2>
      </div>
      <div class="row gy-5 gx-5">
        {% for service in spa_services %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-5 gy-4">
          <a href="{% url 'service_details' service.id %}" class="card-link">
            <div class="card h-100">
              <div class="card-image-container">
                <img class="card-img-top" src="{{ service.featured_image.url }}" alt="{{ service.image }}">
              </div>
              <div class="card-body text-start pb-3">
                <h3 class="h6 card-category">{{ service.category }}</h3>
                <h3 class="h5 card-title">{{ service.name }}</h3>
                <p class="card-text">{{ service.description | truncatewords:10 }}</p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="section-home bg-section-four bg-colour-grey flex-grow-1" id="prices-booking">
    <div class="container px-5 justify-content-center">
      <div class="text-center">
        <h2 class="section-heading pt-5 pb-4"><strong>Prices & Booking</strong></h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h2 class="h4 card-title"><strong> Spa Services</strong></h2>
              <ul class="list-group">
                <h3 class="h5 mt-3">Massages</h3>
                {% for service in spa_services %}
                {% if service.category.name == "Massages" %}
                <li class="list-group-item">
                  {{ service.name }} - {{ service.price }} SEK
                </li>
                {% endif %}
                {% endfor %}
              </ul>
              <ul class="list-group">
                <h3 class="h5 mt-2">Facials</h3>
                {% for service in spa_services %}
                {% if service.category.name == "Facials" %}
                <li class="list-group-item">
                  {{ service.name }} - {{ service.price }} SEK
                </li>
                {% endif %}
                {% endfor %}
              </ul>

              <ul class="list-group">
                <h3 class="h5 mt-2">Pedicures</h3>
                {% for service in spa_services %}
                {% if service.category.name == "Pedicures" %}
                <li class="list-group-item">
                  {{ service.name }} - {{ service.price }} SEK
                </li>
                {% endif %}
                {% endfor %}
              </ul>
              <ul class="list-group">
                <h3 class="h5 mt-2">Spa Access</h3>
                {% for service in access_services %}
                <li class="list-group-item">
                  {{ service.name }} - {{ service.price }} SEK
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 text-start mx-auto mx-lg-5">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque commodo
            consequat nisi, et
            sollicitudin velit
            mollis vitae. Pellentesque sit amet justo at lorem tincidunt semper vel id metus. Sed erat justo, eleifend
            ut dolor id,
            laoreet posuere est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Donec
            luctus ut nunc tristique vulputate. Integer justo mi, sagittis sit amet orci in, finibus tempor urna. Morbi
            rhoncus
            blandit erat, et ullamcorper lectus sollicitudin eget.</p>
          <form action="{% url 'book_spa_service'%}" method="get" style="display: inline;">
            <button type="submit" class="btn button book-now-button-2 mb-5" name="service_id" aria-label="Book Now"
              value="{{ service.id }}">
              Book Now
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}