{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid" style="height: 100vh;">

  <div class="section bg-landing-section bg-colour_blue">
    <div class="container">
      <div class="row">
        <h1>Section 1</h1>
      </div>
    </div>
  </div>

  <div class="section bg-section-two bg-colour-grey">
    <div class="container">
      <div class="row">
        <h1>Section 2</h1>
      </div>
    </div>
  </div>

  <div class="section bg-section-three bg-colour_blue">
    <div class="container">
      <div class="row">
        <h1>Section 1</h1>
      </div>
    </div>
  </div>

    <div class="section bg-section-four bg-colour-grey">
    <div class="container">
      <div class="row">
        <h1>Section 2</h1>
      </div>
    </div>
  </div>


</div>
{% endblock %}