{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container form-container">
    <div class="row row-booking mt-5 justify-content-center">
        <div class="col-md-6 mt-5">
            <h1 class="h4">Create your booking:</h1>
            <form method="post" action="{% url 'book_spa_service' %}">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="button btn mb-4" type="submit" aria-label="Show time slotss button">Show time
                    slots</button>
            </form>
            {% if service_id and available_time_slots %}
            <form method="post" action="{% url 'add_to_cart' service_id=service_id %}">
                {% csrf_token %}
                <h2 class="h4">Available Time Slots:</h2>
                <ul>
                    {% for time_slot in available_time_slots %}
                    <li>
                        <input type="radio" id="time_slot_{{ time_slot.id }}" name="selected_time_slot"
                            value="{{ time_slot.id }}">
                        <label for="time_slot_{{ time_slot.id }}">
                            {{ time_slot.time }}
                        </label>
                    </li>
                    {% endfor %}
                    {% for time_slot in unavailable_time_slots %}
                    <li>
                        <input type="radio" id="time_slot_{{ time_slot.id }}" name="selected_time_slot"
                            value="{{ time_slot.id }}" disabled>
                        <label for="time_slot_{{ time_slot.id }}">
                            {{ time_slot.time }} (Unavailable)
                        </label>
                    </li>
                    {% endfor %}
                </ul>

                <input type="hidden" name="service_id" value="{{ service_id }}">
                <input type="hidden" name="selected_date" value="{{ selected_date }}">
                <input type="hidden" name="price" value="{{ time_slot.id }}">
                <input type="hidden" name="quantity" value="{{ quantity }}">
                <input type="hidden" name="price" value="{{ price }}">

                <button class="btn mb-5" type="submit" aria-label="Add to Cart Button">Add to Cart</button>
            </form>
            {% elif service_id %}
            <p>No available time slots.</p>
            {% endif %}
        </div>
        <div class="col-md-4 col-lg-5">
            <img src="{% static 'images/image_water-lily.webp' %}" class="img-fluid my-5 mx-auto d-block" alt=" Spa
                            Image">
        </div>
    </div>
</div>
{% endblock %}