{% extends "base.html" %}
{% load static %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
<div>
    <button id="cartModalButton" class="btn btn-primary" data-toggle="modal" data-target="#cartModal">View Cart</button>
</div>
<h1 class="h4">Create your booking:</h1>
<form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit">Show available time slots</button>
</form>

{% if available_time_slots %}
<h2>Available Time Slots:</h2>
<form method="post" action="{% url 'add_to_cart' service_id=selected_service.id %}">
    {% csrf_token %}
    <ul>
        {% for time_slot in available_time_slots %}
        <li>
            <input type="radio" name="selected_time_slot" value="{{ time_slot.id }}" required>
            <label>{{ time_slot.time }}</label>
        </li>
        {% endfor %}
    </ul>
    <input type="hidden" name="service_id" value="{{ selected_service.id }}">
    <input type="hidden" name="selected_date_and_time" value="{{ selected_date_and_time }}">
    <button type="submit">Add to Cart</button>
</form>
{% endif %}


{% endblock %}