* {
    margin: 0;
    color: #191521; 
}

/* Global styles */

html {
height: 100%;
scroll-behavior: smooth;
}

.bg-colour-blue {
    background-color: #b3d0d7; 
}

.bg-colour-grey {
    background-color: #eceeec; 
}

.bg-dark{
    background-color: #191521;
}


/* navbar */

.navbar-nav {
    padding-left: 20px;
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    min-width: 150px;
    max-width: 400px;
    height: 45%;
    background-color: #191521;
    padding-top: 20px;
    z-index: 1000;
}

.navbar-button {
    color: #538991;
    position: fixed;
    margin-top: 30px;
    margin-left: 60px;
    z-index: 1001; 
}

.bi-list {
    color: #191521;
}

.navbar-nav.open {
    display: block;
}

.navbar-nav li {
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-nav a {
    color: #fff; 
    text-decoration: none;
}

.separator {
      width: 100%;
      height: 1px;
      background-color: white;
      margin: 10px 0;
    }

.social-media-symbols{
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}

 .navbar-nav .nav-item .nav-link:hover {
      color: #538991; 
    }



/* Override Bootstrap's gutter spacing for containers */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    height: 100%;
}

.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
    padding: 10px;
}

.bg-color-section-heading{
    height: 40px;
    color: #538991 ;
}

.container {
    margin: 10px;
    margin-top: 20px;
}

.row{
    margin: 0;
}

.bg-landing-section{
    background-image: url('../images/laura-chouette-te8u5ngLwBg-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

/* Styling cards */

.card {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0;
    margin-bottom: 5px;
    border-radius: 0 !important;
    max-height: 340px;
}

.card-image-container{
    width: 100%;
    margin: 0;
}

.card-img-top{
    border-radius: 0 !important;
}

.card-title {
    margin: 0;
}

.card-body {
    padding: 0;
}

.card .card-body {
    max-height: 800px;
    overflow: hidden;
}


.card .card-body p {
    font-size: 16px;
    padding: 0;
    color: gray;
   
}



/* Footer */

footer {
    color: white;
    position: fixed;
    padding: 20px 20px; 
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Ensure footer appears above other content */
}


