* {
    margin: 0;
    color: #191521; 
}

/* Global styles */

html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    font-family: "Crimson Text", serif !important;
    font-weight: 400;
    font-style: normal;
}

main {
    flex: 1 0 auto;
    padding-bottom: 100px;
}

.bg-colour-blue {
    background-color: #b3d0d7; 
}

.bg-colour-grey {
    background-color: #eceeec; 
}

.bg-dark{
    background-color: #191521;
}

.white-text {
    color: white;
}

.spa-blue {
    color: #191521 !important;
}


/* navbar */

#collapseNavbar {
    position: relative;
    z-index: 1003;
}

.navbar-nav {
    padding-left: 20px;
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    min-width: 250px;
    max-width: 400px;
    background-color: #191521;
    padding-top: 0px;
    z-index: 1004;
}

.navbar-nav a {
    color: #fff; 
    text-decoration: none;
}

.fa-bars {
    color: #191521;
    font-size: 20px;
}

.social-media-symbols i {
    color: #fff;
    font-size: 25px;
    margin-left: 0;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-media-symbols i:hover {
 color: #538991; 
}

nav {
    padding: 0;
}

.navbar {
--bs-navbar-padding-y: 0;
}

.navbar-nav.open {
    display: block;
}

.navbar-nav li {
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 30px;
}

.navbar-nav .dropdown-menu{
    background-color: #2a203d;
}

.logo {
    margin-top: 30px;
    font-size: 85px;
    margin-bottom: 0;
    font-weight: 400;
    font-style: normal;
  }

  p.logo-text {
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
  }

.separator {
    width: 100%;
    height: 2px;
    background-color: white;
    color: white;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #538991; 
}



.dropdown-menu {
    border-radius: 0 !important;
    background-color: #201a2c !important;
}

.dropdown-item {
    padding: 0 !important;
    background-color: #191521;
}

.btn-close {
    border-radius: 0 !important;
    padding-right: 10px;
}

/* Sticky Navbar Styles */

.sticky-navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 170px;
    transition: background-color 0.3s;
}

.sticky-navbar a {
    color: #191521;
}

.sticky-navbar a:hover {
    color: #538991;
}

.navbar-spacer {
    height: 70px;
}

.opaque {
    background-color: rgba(25, 21, 33, 0.9) !important;
}


/*Override Bootstrap's gutter spacing for containers */
.container, .container-fluid, .container-lg,
.container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    padding-bottom: 20px;
}

.container-home{
    margin-bottom: 0;
}

.form-container {
    margin-top: 120px;
    padding-top: 120px;
    padding-bottom: 130px;
    margin-bottom: 100px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.checkout-container {
    padding-top: 100px;
}

.container-404{
    margin-top: 200px !important;
    margin-bottom: 200px;
}
 
.container.form-container,
.container.form-container form,
.container.form-container input,
.container.form-container select{
    border-radius: 0;
}

.cart-container {
    padding-top: 110px;
}

.sign-in-container {
    padding-top: 150px;
    height: 100vh;
}

.messages {
    margin-top: 170px;
}

.alert, .alert-success, .alert-danger, .alert-info, .alert-warning {
color: black !important;
background-color: #538991 !important;
border-radius: 0 !important;
max-width: 400px;
padding: 15px;
padding-bottom: 20px;
border: 1px solid transparent;
border-color: #191521 !important;
position: fixed;
top: 10px;
z-index: 2000;
transition: opacity 0.5s ease-in-out;
pointer-events: auto;
margin-bottom: 5px;
}

ul li .message-list-item{
    list-style-type: none !important;
}

.alert .alert-block .alert-danger {
    color: black ;
}

.section-home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.bg-color-section-heading {
    height: 40px;
    color: #538991;
}

.row {
    margin: 0;
}

.custom-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: nowrap !important;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.bg-landing-section {
    background-image: url('../images/image_spa-view.webp');
    background-size: cover;
    background-position: center;
    margin: 0;
}

/* Styling cards */

.card {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0;
    margin-bottom: 15px;
    border-radius: 0 !important;
}

.card-image-container {
    width: 100%;
    margin: 0;
}

.card-img-top {
    border-radius: 0 !important;
}

.card-category{
    font-size: 14px;
}

.card-title {
    margin: 0;
    font-size: 16px;
}

.card-text {
    color: #191521 !important;
    font-size: 14px;
}

.card .card-body {
    overflow: hidden;
}

.card .card-body p {
    font-size: 14px;
    padding: 0;
    /*color: gray;*/
}

.card .card-body p .card-body-review {
    color: black;
}

.card-link {
    text-decoration: none;
    color: #538991;

}

.table-responsive {
    overflow-x: auto;
}

.list-group-item {
    word-wrap: break-word;
    font-size: 0.9rem;
}

.list-group,
.list-group-item {
    border-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.content-wrapper {
    margin-bottom: 100px;
}

/* Modals */
.modal.custom-modal .modal-dialog .modal-content {
    border-radius: 0px !important;
    margin-top: 300px !important;
}

.modal-open .modal {
    padding-right: 10px !important;
}

.faded {
    opacity: 0.6;
}

.reviews {
    color: black;
}

/* Styles for details-page */

.service-details {
    display: flex;
    justify-content: space-between;
    margin-top: 170px;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.service-description {
    flex: 2;
    margin-right: 20px;
}
        
.service-info {
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
}

.service-info ul {
    list-style: none;
    padding: 0;
}
        
.service-info ul li {
    margin-bottom: 10px;
}  

/* Styling forms */

.booking-id {
    display: block;
    width: 100%;
    overflow-wrap: break-word;
}

#payment-form,
.form-control {
    color: #191521;
    border: 1px solid #191521;
    border-radius: 0 !important;
}

input, .form-element {
    border-radius: 0;
}

.form-control-sm {
    width: auto;
}

.form-headers{
    font-size: 14px;
}

.allauth-form{
    border-radius: 0;
    margin-left: 20px;
    margin-right: 20px;
}


/* Styling buttons & links */

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


button {
   background-color:#538991 !important;
    border-color: #538991;
    color: #191521 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px; 
    max-width: 200px;
    transition: background-color 0.3s ease;
    font-weight: 600;
    border-radius: 0;
    border: 1px;
    line-height: 1.2 !important;
    padding-top: 2px;
    padding-bottom: 2px;
}


button:hover {
    background-color: #375d66 !important; 
    color: #fff !important;
}

button.btn {
    background-color: #538991 !important;
    border-radius: 0;
    font-weight: 600;
    height: 40px; 
}

a.btn {
    color: #191521 !important;
    background-color: #538991;
    border-color: #538991;
    border-radius: 0;
    max-width: 200px;
    transition: background-color 0.3s ease;
    font-weight: 600;
    height: 40px; 
}

a.btn:hover {
    background-color: #375d66 !important; 
    color: #fff !important;
}

a {
    color: #538991 !important;
}

a:hover {
    color: #053f4c !important; 
}

.remove-btn {
    color: #191521 !important;
}

.navbar-nav .nav-link  {
    color: #fff !important;
}

.submit-button.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    max-width: 200px;
    transition: background-color 0.3s ease;
}

.submit-button.btn:hover {
    background-color: #375d66 !important; 
    color: #fff !important;
}

.submit-button .btn span {
    display: flex;
    align-items: center;
}

a.text-info {
    color: #538991 !important;
    text-decoration: none;
}

a.text-info:hover {
    color: #375d66 !important;
    text-decoration: none;
}

button.btn.btn-sm {
    background-color: #538991;
    border-radius: 0;
    border: none;
    padding: 5px 10px; 
    transition: background-color 0.3s ease;
}

.btn-sm {
    background-color: #538991;
    border-radius: 0;
    border: none;
    padding: 5px 10px; 
    transition: background-color 0.3s ease;
    color: #191521;
    text-decoration: none;
}

.btn-sm:hover {
    background-color: #375d66 !important; 
    color: #fff !important;
}


button.btn.btn-sm:hover {
    background-color: #375d66 !important; 
    color: #fff !important;
}

.btn-close {
    position: fixed;
    left: 10px;
    top: 20px;
    z-index: 1001; 
}

.navbar-button {
    position: fixed;
    left: 30px;
    padding-right: 20px;
    margin-right: 20px;
    z-index: 1001; 
    background-color: transparent !important;
}

.navbar-button:hover{
    background-color: transparent !important;
}

.book-now-button {
  white-space: nowrap; 
  --bs-gutter-x: 0;
  background-color: #538991 !important;
  font-size: 18px !important;
  border-radius: 0 !important;
  height: auto;
  border-color: #538991;
  margin-top: 5px;
}

.book-now-button:hover {
    background-color: #375d66 !important; 
    color: #fff !important;
}

.book-now-button-2 {
  white-space: nowrap; 
  --bs-gutter-x: 0;
  background-color: #538991 !important;
  font-size: 18px !important;
  border-radius: 0 !important;
  border-color: #538991;
}

.book-now-button-2:hover {
    background-color: #375d66 !important; 
    color: #fff !important;
}

.book-now-button-404 {
    width: auto !important;
    height: auto !important;
    display: inline-block;
    white-space: nowrap;
    padding: 10px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.book-now-button-404:hover {
    background-color: #375d66;
    color: #fff;
}

.scroll-to-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10000;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s, visibility 0.4s;
}

.scroll-to-top-btn:hover {
  background-color: #375d66;
  color: #fff;
}

#scrollToAboutBtn {
    display: block;
    position: fixed;
    top: 650px;
    padding: 10px 10px;
    cursor: pointer;
    width: 120px;
}

.fa-solid.fa-chevron-down:hover {
   color: #fff;
}

#scrollToAboutBtn:hover {
  background-color: #375d66;
  color: #fff;
}


/* Footer */

footer {
    flex-shrink: 0;
    position: fixed;
    padding: 20px 20px; 
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    min-width: 80%;
    padding: 15px;
}

.footer-navigation a {
    color: #538991 !important;
    text-decoration: none;
}

.footer-navigation {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-navigation li {
    display: inline;
    margin: 0 10px;
}

.footer-navigation a:hover {
    text-decoration: underline;
}

.footer-bg {
    background-color: #191521;
}

.copyright {
    font-size: 12px;
}

.custom-email-field {
    width: 100% !important;
    max-width: 600px !important;
}


/* Styling tables */

.cart-container {
    margin-top: 150px;
}

.cart-container table {
        width: auto; 
   }

.table-responsive {
        border: 0;
    }

.table {
    display: table;
    white-space: nowrap;
}

.table tbody, .table tr, .table td, .table th {
    display: table; 
}

.total-cost {
    margin-left: 15px;
    margin-right: 15px;
}


/* Media Screens */

@media (min-width: 768px) {
.sticky-navbar .navbar-brand {
position: static;
transform: none;
}

.cart-container {
    margin-top: 200px;
}

.cart-container table tbody,
.cart-container table tr {
     display: table-row;
 }

.cart-container table td {
    display: table-cell;
    text-align: left;
    padding: 10px;
    width: 17%; 
}

main {
    flex: 1 0 auto;
    padding-bottom: 100px; 
  }

footer {
    position: fixed;
  }

.navbar-button {
    position: fixed;
    top: 50px;
    left: 150px;
    z-index: 1001;
}

.fa-bars {
    color: #191521;
    font-size: 30px;
}


.col-lg-6 {
        margin-bottom: 20px;
}

.logo {
    margin-top: 70px;
}


.book-now-button {
  margin-top: 100px;
}
}