* {
    margin: 0;
    color: #191521; 
}

/* Global styles */

html {
    height: 100%;
   
}

.bg-colour_blue {
    background-color: #b3d0d7; 
}

.bg-colour-grey {
    background-color: #eceeec; 
}

.bg-dark{
    background-color: #191521;
}


/* navbar */

.navbar-nav {
    padding-left: 20px;
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    min-width: 150px;
    height: 45%;
    background-color: #191521;
    padding-top: 20px;
    z-index: 1000;
}

.navbar-button {
    color: #191521;
    position: fixed;
    margin-top: 30px;
    margin-left: 60px;
    z-index: 1001; 
}

.bi-list {
    color: #191521;
}

.navbar-nav.open {
    display: block;
}

.navbar-nav li {
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-nav a {
    color: #fff; 
    text-decoration: none;
}

/* Override Bootstrap's gutter spacing for containers */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    height: 100%;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
}

.container {
    margin: 10px;
    margin-top: 20px;
}

.row{
    margin: 0;
}

.bg-landing-section{
    background-image: url('../images/laura-chouette-te8u5ngLwBg-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

/* Footer */

footer {
    position: fixed;
    padding: 20px 20px; 
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Ensure footer appears above other content */
}


