{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/customer_profile.css' %}">
{% endblock %}

{% block content %}
<div class="container form-container mb-5 pb-5 mx-auto">
    <div class="row custom-row justify-content-center mx-4 mt-5"></div>
    <div class="container px-4">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-5 mb-4 me-lg-5">
                <p class="text-muted">Customer info for {{ customer_name }}</p>
                <form action="{% url 'customer_profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="button btn btn-white rounded-0 text-uppercase mt-3"
                        aria-label="Update profile submit button">Update
                        Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-5">
                <p class="text-muted">Previous bookings:</p>
                <div class="booking-history">
                    {% for spa_booking in spa_bookings %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'booking_history' spa_booking.booking_number %}"
                                    title="{{ spa_booking.booking_number }}">
                                    {{ spa_booking.booking_number|truncatechars:6 }}
                                </a>
                            </h5>
                            <p class="card-text"><strong>Date:</strong> {{ spa_booking.date_and_time }}</p>
                            <p class="card-text"><strong>Services:</strong></p>
                            <ul class="list-unstyled">
                                {% for service in spa_booking.spa_booking_services.all %}
                                <li>{{ service.spa_service.name }} x{{ service.quantity }}</li>
                                {% endfor %}
                            </ul>
                            <p class="card-text"><strong>Booking Total:</strong> SEK{{ spa_booking.booking_total }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}