{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid container-404 h-100 d-flex justify-content-center align-items-center">
    <div class="row h-100 w-100 justify-content-center">
        <div class="col-7 col-md-6 text-center">
            <h1 class="h2 display-4 logo-font">
                The page you are looking for isn't available
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'book_spa_service' %}" class="book-now-button-404 btn mt-3">
                        Back to book a service
                    </a>
                    <a href="{% url 'home' %}" class="book-now-button-404 btn mt-3">
                        Return to home page
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}