{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container form-container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container container-404 h-100 mb-5">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font">
                The page you are looking for isn't available
            </h1>
            <div class="my-5 text-center">
                <h4>
                    <a href="{% url 'book_spa_service' %}" class="book-now-button-404 btn">
                        Return to book a service
                    </a>
                    <a href="{% url 'home' %}" class="book-now-button-404 btn uppercase-text">
                        Return to home page
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}