{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load allauth account %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container sign-in-container form-container">
    <div class="row justify-content-center mb-5">
        <div class="col-10 col-md-4">
            <div class="allauth-form-inner-content">
                {% block inner_content %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="col">
                    <hr>
                    <h1 class="logo-font mb-4">{% element h2 %}
                        {% trans "Sign In" %}
                        {% endelement %}</h1>
                    <hr>
                </div>
                {% if not SOCIALACCOUNT_ONLY %}
                {% setvar link %}
                <a href="{{ signup_url }}">
                    {% endsetvar %}
                    {% setvar end_link %}
                </a>
                {% endsetvar %}
                {% element p %}
                {% blocktranslate %}If you have not created an account yet, then please {{ link }}sign up{{ end_link }}
                first.
                {% endblocktranslate %}
                {% endelement %}
                {% url 'account_login' as login_url %}
                {% element form form=form method="post" action=login_url tags="entrance,login" %}
                {% slot body %}
                {% csrf_token %}
                {{ form|crispy }}
                {{ redirect_field }}
                {% endslot %}
                {% slot actions %}
                <div class="button btn">{% element button type="submit" tags="prominent,login" %}
                    {% trans "Sign In" %}
                    {% endelement %}
                </div>
                {% endslot %}
                {% endelement %}
                {% endif %}
                {% if LOGIN_BY_CODE_ENABLED %}
                {% element hr %}#
                {% endelement %}
                {% element h2 %}
                {% element button href=request_login_code_url tags="prominent,login,secondary" %}
                {% trans "Mail me a sign-in code" %}
                {% endelement %}
                {% endelement %}
                {% endif %}
                {% if SOCIALACCOUNT_ENABLED %}
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block head_title %}

{% endblock head_title %}

{% endblock content %}