{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
{% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
<div class="container sign-in-container form-container">
    <div class="row justify-content-center mb-5">
        <div class="col-10 col-md-4">
            <div class="allauth-inner-form-content">
                {% element h1 %}
                {% trans "Change Password" %}
                {% endelement %}
                {% element p %}
                {% trans 'Your password is now changed.' %}
                {% endelement %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}