{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n allauth account %}

{% block head_title %}
{% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
<div class="container sign-in-container form-container">
    <div class="row justify-content-center mb-5">
        <div class="col-10 col-md-4">
            <div class="allauth-form-inner-content">
                <h1>{% trans "Password Reset" %}</h1>

                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>
                    {% trans "Forgotten your password? Enter your email address below," %}
                    {% trans "and we'll send you an email allowing you to reset it." %}
                </p>

                {% url 'account_reset_password' as reset_url %}
                <form method="post" action="{{ reset_url }}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control custom-email-field" id="email" name="email"
                            placeholder="{% trans 'Email address' %}" required>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn">
                            {% trans 'Reset My Password' %}
                        </button>
                    </div>
                </form>

                <div class="mt-3">
                    <p>
                        Please contact us if you have any trouble resetting your password.
                        You can reach us via <a class="link-colour" href="{% url 'contact' %}" aria-label="Contact">this
                            link</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}