{% extends "base.html" %}
{% load static %}
{% load allauth i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
{% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
<div class="container sign-in-container form-container mt-5">
    <div class="row justify-content-center mb-5">
        <div class="col-10 col-md-4">
            <div class="allauth-form-inner-content">
                {% element h1 %}
                {% trans "Change Password" %}
                {% endelement %}
                {% url 'account_change_password' as action_url %}
                {% element form form=form method="post" action=action_url %}
                {% slot body %}
                {% csrf_token %}
                {{ form|crispy }}
                {% endslot %}
                {% slot actions %}
                {% element button type="submit" %}
                {% trans "Change Password" %}
                {% endelement %}
                <a class="link-colour" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                {% endslot %}
                {% endelement %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}