{% load static %}
<!doctype html>
<html lang="en">

<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}{% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  {% block corecss %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  {% endblock %}
  {% block extra_css %}{% endblock %}

  <title>The Spa {% block extra_title %}{% endblock %}</title>

</head>

<body>

  {% if messages %}
  <div class="alert alert-{{ message.tags }}" role="alert">
    {{ message }}
  </div>
  {% endif %}

  {% block page_header %}
  <!-- main navbar -->
  <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
  <button class=" navbar-button mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar"
    aria-expanded="false" aria-controls="collapseNavbar">
    <i class="fa-sharp fa-solid fa-bars"></i>
  </button>
  <div class="collapse collapse-horizontal justify-content-center" id="collapseNavbar">
    <button type="button" class="btn-close" aria-label="Close" data-bs-toggle="collapse"
      data-bs-target="#collapseNavbar"></button>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
      <div class="row justify-content-center w-100">
        <div class="col text-left">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!--<li><a class="dropdown-item" href="#about">About the Spa</a></li>-->
              <li><a class="dropdown-item" href="{% url 'spa_services' %}">Treatments</a></li>
              <li class="nav-item"><a class="nav-link" href="#book">Prices & Booking</a></li>
            </ul>
          </li>
          <li class="nav-item"><a href="{% url 'view_cart' %}" class="nav-link">Cart</a></li>
          <li class="nav-item"><a href="{% url 'checkout' %}" class="nav-link">Checkout</a></li>
        </div>
      </div>
      <div class="col text-left">
        {% if not request.user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'account_signup' %}" class="nav-link">Register</a></li>
        <li class="nav-item"><a href="{% url 'account_login' %}" class="nav-link">Login</a></li>
        {% else %}
        <li class="nav-item"><a href="{% url 'account_logout' %}" class="nav-link">Logout</a></li>
        <li class="nav-item"><a href="{% url 'customer_profile' %}" class="nav-link">Profile</a></li>
        {% endif %}
      </div>
      <div class="separator"></div>
      <div class="social-media-symbols">social media</div>
  </div>
  </ul>
  </div>
  </nav>
  <!-- Second Navbar -->
  <nav class="sticky-navbar navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid justify-content-center">
      <div class="row w-100 justify-content-center">
        <div class="col-12 col-lg-4 order-lg-1">

        </div>
        <div class="col-12 col-lg-4 order-lg-2 text-center mt-sm-2">
          <a class="navbar-brand" href="{% url 'home' %}">
            <h1 class="logo">The Spa</h1>
            <p>Stockholm</p>
          </a>
        </div>
        <div class="col-12 col-lg-4 order-lg-3 text-center text-lg-right">
          <a class="btn button book-now-button" href="{% url 'book_spa_service'%}">Make a Booking</a>
        </div>
      </div>
    </div>
  </nav>
  {% endblock %}


  <div class="navbar-spacer"></div>
  <!-- Main Content -->

  <main class="flex-fill">
    <div class="content" style="margin: 0;">
      {% block content %}
      {% endblock %}
    </div>
  </main>


  <!-- Footer -->
  <footer class="bg-dark py-4 fixed-bottom">
    <div class="container">
      <div class="row custom-row">
        <div class="col-md-6">
          <h5>Footer Content</h5>
          <p>Some content</p>
        </div>
        <div class="col-md-6">
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <p>© 2024 The Spa</p>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  {% block postloadjs %}{% endblock %}

  {% block corejs %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>

  <!-- Custom script -->
  <script src="{% static 'js/script.js' %}"></script>

  <!-- Fontawesome-->
  <script src="https://kit.fontawesome.com/b564c0e6b0.js" crossorigin="anonymous"></script>


  <!-- Stripe-->
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}
</body>

</html>