/* From Boutique Ado walkthrough */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  width: 100%;
  max-width: 100%;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

.message-container {
  margin-top: 150px;;
}

.message-container .alert {
margin-top: 150px;
}

.element {
  width: 100%;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box; 
}

@media (max-width: 768px) {
    .element {
        max-width: 100%;
        width: 100%; 
        display: block; 
    }
}