{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container sign-in-container form-container">
    <div class="row justify-content-center mb-5">
        <div class="col-10 col-md-5">
            <div class="allauth-form-inner-content">
                <h2 class="h2 mb-3">Manage Time Slots</h2>

                <form class="mb-3" id="spa-service-form" method="get">
                    <h3 class="h5">Choose Spa Service</h3>
                    <select id="spa_service" name="spa_service">
                        {% for service in spa_services %}
                        <option value="{{ service.id }}" {% if service.id == availability.spa_service.id %} 
                        selected{% endif %}>
                            {{ service.name }}
                        </option>
                        {% endfor %}
                    </select>
                </form>

                <form method="post">
                    <h3 class="h6">Choose date to display possible time slots</h3>
                    <h3 class="h6">(blue time slots are already set as available,
                        and red time slots are booked.)</h3>
                    {% csrf_token %}
                    {{ form.specific_date }}
                    <div id="time-slots-container" data-url="{% url 'get_time_slots_for_date' availability.id %}"
                        style="display: none;">
                    </div>
                    <button class="mt-3" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'services/js/manage_time_slots.js' %}"></script>
{% endblock %}