{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container sign-in-container form-container">
    <div class="row justify-content-center mb-5">
        <div class="col-10 col-md-4">
            <div class="allauth-form-inner-content">
                <h2>Manage Time Slots for {{ availability.spa_service.name }}</h2>

                <form method="post">
                    {% csrf_token %}
                    {{ form.specific_date }}

                    <h3>Available Time Slots</h3>
                    <div id="time-slots-container" data-url="{% url 'get_time_slots_for_date' availability.id %}"
                        style="display: none;">
                    </div>

                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'services/js/manage_time_slots.js' %}"></script>
{% endblock %}