{% extends "base.html" %}
{% load static %}
{% load custom_filters %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<section class="service-details bg-colour-blue">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10 mb-4">
                <h1>{{ service.name }}</h1>
                <p>{{ service.description }}</p>
                <!-- Displaying review count -->
                <div class="row">
                    <div class="col-lg-4">
                        <strong class="text-secondary">
                            <i class="fa-solid fa-star-half-stroke"></i>{{ review_count }}
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-10">
                <h2>Service Details</h2>
                <ul class="list-unstyled">
                    <li><strong>Category:</strong> {{ service.category }}</li>
                    <li><strong>Duration:</strong> {{ service.duration|format_duration }}</li>
                    <li><strong>Price:</strong> {{ service.price }} SEK</li>
                    <li><strong>Employee:</strong> {{ service.employee_name }}</li>
                </ul>
                <form action="{% url 'book_spa_service'%}" method="get" style="display: inline;">
                    <button type="submit" class="btn button book-now-button-2 mb-5" name="service_id"
                        aria-label="Book Now" value="{{ service.id }}">
                        Book Now
                    </button>
                </form>
            </div>
        </div>
        <!-- Reviews Section -->
        <div class="row justify-content-start">
            <div class="col-lg-4 card mb-4 mt-4 p-3" style="background-color: rgba(255, 255, 255, 0.5);">
                <h4 class="h5 pt-3">Reviews:</h4>
                <div class="card-body">
                    {% for review in reviews %}
                    <div class="p-2 reviews
                    {% if not review.approved and review.author == user %}
                    faded{% elif not review.approved %} d-none{% endif %}">
                        <p class="font-weight-bold">
                            {{ review.author }},
                            <span class="font-weight-normal">
                                {{ review.created_on }}
                            </span> wrote:
                        </p>
                        <div id="review{{ review.id }}">
                            {{ review.body | linebreaks }}
                        </div>
                        {% if not review.approved and review.author == user %}
                        <p class="approval">
                            This review is awaiting approval!
                        </p>
                        {% endif %}
                        {% if user.is_authenticated and review.author == user %}
                        <button class="btn btn-edit" data-review-id="{{ review.id }}">Edit</button>
                        <button class="btn btn-delete" data-review-id="{{ review.id }}">Delete</button>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Review Form Section -->
            <div class="card p-3 col-lg-4 mb-4 mt-4" style="background-color: rgba(255, 255, 255, 0.5);">
                {% if user.is_authenticated %}
                <div class="card-body">
                    <h5>Leave a review:</h5>
                    <p>Posting as: {{ user.username }}</p>
                    <form id="reviewForm" method="post" style="margin-top: 1.3em;">
                        {{ review_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-signup"
                            aria-label="Submit Form">Submit</button>
                    </form>
                    {% else %}
                    <p>Log in to leave a review</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--Delete modal-->
        <div class="modal fade custom-modal" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete review?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete your review?
                        This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                        <a id="deleteConfirm" href="#" class="btn">Delete</a>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'services/js/services.js' %}"></script>
{% endblock %}